/* this is a stylesheet for index.html */

/* adding features to large headers*/
h1 {
    color:#2e3b68;
    text-decoration: underline;
}

/* adding features to medium sized headers*/
h2 {
    color:navy;
}

/* adding features to small headers*/
h3 {
    color:hsl(208, 71%, 42%);
}

/* adding features to the body*/
body {
    background-color: rgb(149, 171, 243);
    border-width: 15px;
    border-style: solid;
    border-color: rgb(108, 67, 212);
    border-radius: 10px;
    padding-left: 2cm;
    padding-right: 2cm;
    width: 1000px;
    margin: auto;
    color: rgb(34, 70, 78);
}

/* adding features to lists */
li {
    font-size: 1.3rem;
}

/* adding features to the main header */
header {
    font-size: 5ex;
}

/* adding features to the navigation */
nav {
    font-size: 1.5em;
    width: 7in;
    
}

/* adding features to the footer */
footer {
    padding: 1cm 1cm 1cm 1cm;
    margin-left: 0.5cm;
    text-align: center
}

/* adding features to the form */
form {
    margin: 1cm 1cm 1cm 1cm;
}